<!-- users/templates/registration/login.html -->

{% extends 'base.html' %}
{% load static %}

{% block stylesheets %}

<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">


<style>

    /* * {
        border: 1px solid red;
    } */

    #login-form {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        box-sizing: border-box;
    }

</style>
{% endblock %}

{% block content %}
<h2>Login</h2>

<form method="post" id="login-form">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
</form>
{% endblock %}