/* @import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,500;0,700;1,200;1,300;1,500;1,700&display=swap');

html {
    scroll-behavior: smooth;
  }

body {
    background: linear-gradient(130deg, #f3ca95, #FFFCF5, #f3ca95);
    /* display: flex; */
}

header {
    display: flex;
    /* flex-basis: 70%; */
    /* flex-direction: column; */
    align-items: flex-start;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    border: 1px solid rgba(245, 245, 245, 0.20);
    background-color: rgba(231, 158, 115, 0.4);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

img {
    filter:none;
}

h1 {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-size: 3.5rem;
    margin: 10px;
}

h2 {
   font-family: 'Raleway', sans-serif; 
   text-align: center;
   background-color: rgba(231, 158, 115, 0.2);
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   border-radius: 10px;
   padding: 5px;
}

h3 {
    font-family: 'Raleway', sans-serif; 
    font-size: 25px;
    text-wrap: wrap;
    margin: 0;
}

#header-text {
    flex-basis: 70%;
    display: flex;
}

nav {
    /* flex-basis: 30%; */
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-top: 10px;
    font-size: 20px;
}

a {
    margin-bottom: 5px;
    text-decoration: none;
    color: #000;
}

a, p {
    font-family: 'Raleway', sans-serif;
}

form {
    text-align: left;
    flex-direction: column;
}

.comments_form {
    justify-content: center;
}

form label {
    font-size: 20px;
    display: block;
    margin-bottom: 5px;
}

form input,
form textarea,
form select {
    width: 450px;
    height: auto;
    border: 1px solid antiquewhite;
    border-radius: 10px;
    margin-top: 5px;
    box-sizing: border-box;
}

.btn_sub,
.btn_story,
.btn_add_comment,
.button,
.btn_edit_story,
.btn_delete_story {
    display: flex;
    justify-content: center;
    background-color: antiquewhite;
    border-radius: 10px;
    text-align: center;
    width: 100px;
    height: 30px;
    border: 1px solid rgba(231, 158, 115);
}

#user_stories {
    display: grid;
    grid-template-columns: minmax(200px, 1fr);
    gap: 10px;
}

.acc_story_grid {
    border: 1px solid rgba(245, 245, 245, 0.20);
    border-radius: 10px;
    padding: 5px;
}

/* * {
    border: 1px solid red;
} */