@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap');

/* html {
    background: linear-gradient(130deg, purple, orange);
} */

body {
    background: linear-gradient(130deg, purple, orange);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgba(245, 245, 245, 0.20);
    background-color: rgb(229, 218, 218, 0.5);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

img {
    filter:none;
}

h1 {
    font-family: 'Montserrat Subrayada', sans-serif;
    text-decoration: none;
    font-size: 4rem;
    margin: 0;
}

h2 {
   font-family: 'Montserrat Subrayada', sans-serif; 
}

h3 {
    font-size: 2rem;
    margin: 0;
}

#header-text {
    flex-basis: 80%;
    display: flex;
}

nav {
    flex-basis: 10%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

a {
    margin: 2px;
    text-decoration: none;
    color: #000;
}

a, p {
    font-family: monospace;
}

#form {
    text-align: center;
    flex-direction: column;
    display: flex;
}

.comments_form {
    justify-content: center;
    display: flex;
}

.btn_sub {
    background-color: antiquewhite;
    width: 200px;
    height: 30px;
    border: 1px solid #000;
}