{% extends 'base.html' %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}

<br>

<section id="latest-news">
<h2>Latest News</h2>

    <div id="latest-stories">
        {% if latest_stories %}
            {% for story in latest_stories %}
                {% include './storyCard.html' with story=story position=forloop.counter %}
            {% endfor %}

        {% else %}
                <p>No stories are available.</p>
                
        {% endif %}
    </div>

    <div id="all-stories-carousel">
        <h2>Other Stories</h2>
        
        <div id="all-stories">
            {% if latest_stories %}
                {% for story in all_stories %}
                {% include './storyCard.html' with story=story %}
                {% endfor %}

            {% else %}
                <p>No stories are available.</p>

            {% endif %}
        </div>

    <!-- <div id="caro-left-btn" onclick="scrollCarousel('left')">(</div>
    <div id="caro-right-btn" onclick="scrollCarousel('right')">)</div> -->

    </div>

</section>

{% endblock %}
