{% extends 'base.html' %}
{% load static %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">

    <style>
    /* * {
        border: 1px solid red;
    } */

    form textarea {
    width: 90%;
    height: 80px;
    border: 1px solid antiquewhite;
    border-radius: 10px;
    margin-top: 5px;
    box-sizing: border-box;
    }

    #comment-line {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    </style>

    {% endblock %}

{% block content %}

<h2>Story Title: {{ story.title }}</h2>

    <h3><a href="{% url 'users:myAccount' story.author.id %}">Author: {{ story.author }}</a></h3>
    <p class="auth-pub">Posted on: {{ story.pub_date|date:'d M y' }}</p>

<section id="story-wrapper">

    <div id="story-content">
        {% if story.story_image %}
            <img src="{{ story.story_image.url }}">
        {% else %}
            <img src="{% if story.story_image_url %}{{ story.story_image_url }}{% else %}https://picsum.photos/600{% endif %}">

        {% endif %}
    </div>

    <div id="story-text">
        {{ story.content|linebreaks }}
    </div>

</section>

    {% if request.user.is_authenticated and user == story.author %}
        <a href="{% url 'news:editStory' pk=story.pk %}" class="btn_edit_story">Edit Story</a>
    {% endif %}

    {% if request.user.is_authenticated and user == story.author %}
    <form method="post" action="{% url 'news:editStory' story.id %}">
        {% csrf_token %}
        <input class="btn_delete_story" name="delete" value="Delete Story">
    </form>
    {% endif %}

{% if request.user.is_authenticated %}
<div id="comments_form">
    {% if story.id %}
    <form method="post" action="{% url 'news:newComment' story.id %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn_add_comment" type="submit" value="Add Comment">
        {% endif %}
    </form>
    {% endif %}
</div>

<div id="comment_section">
    <h2>Comments:</h2>
    <div id="comment-line">
    {% for comment in story.comments.all %}
        <p>{{ comment.author }} commented on {{comment.created_on|date:'d M Y'}}:<br>
        {{ comment.body }}</p>
    </div>

    {% empty %}
        <p>There are no comments on this story yet!</p>
    {% endfor %}
</div>

{% endblock %}
