<div class="story-card" id="story-card-{{ position }}">

    <a href="{% url 'news:story' story.id %}">

        {% if story.story_image %}
            <img src="{{ story.story_image.url }}">

        {% else %}
            <img src="
            {% if story.story_image_url %}
            {{ story.story_image_url }}
            {% else %}
            https://picsum.photos/600
            {% endif %}">

            
        {% endif %}
        
        <div class="story-card-text">
            <h3>{{ story.title }}</h3>
            <h4>{{ story.author }}</h4>
            <h4>{{ story.pub_date|date:'d. M, Y' }}</h4>
        </div>

    </a>

</div>


